@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
*{margin:0;padding:0;top:0;left:0;color:var(--base-fg);}a{color:var(--accent);text-decoration-color:var(--accent);}body{margin-left:var(--card-margin);margin-right:var(--card-margin);}:root{background:var(--base-bg);margin-left:auto;margin-right:auto;

  max-width: 720px;
  font-family: 'Lexend Deca', sans-serif;

  --base-bg: #022028;
  --base-fg: #d5d6d7;
  --accent: #12bef2;
  --border-color: rgba(0, 0, 0, .3);

  --strong-fg: #e1e2e3;

  --card-radius: 12px;
  --card-padding: 18px;
  --card-margin: 32px;

  --me-width: 240px;
}

.card {
  background-color: rgba(255, 255, 255, .1);
  background-clip: padding-box;
  border-radius: var(--card-radius);
  box-shadow: inset 0 1px rgba(255, 255, 255, .1),
              inset 0 0 0 1px rgba(255, 255, 255, .06),
              0 0 0 1px var(--border-color);
  margin-bottom: var(--card-margin);
}

.card h3 {
  color: var(--strong-fg);
  font-size: 32px;
  padding-top: 20px;
  padding-left: var(--card-padding);
}

.card p {
  padding: var(--card-padding);
}

.card .link {
  display: inline-block;
  padding: var(--card-padding);
  padding-top: 0;
  padding-right: 0;
  margin-left: 5px;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: text-decoration-color .3s;
}

.card .link:hover {
  text-decoration-color: var(--accent);
}

.card .link:before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  transform: rotate(45deg);
  margin-bottom: 2px;
  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);
  margin-right: 8px;
}

.file-button, #links a {
  text-decoration: none;
  display: inline-block;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(255, 255, 255, .28),
              inset 0 0 0 1px rgba(255, 255, 255, .2),
              0 0 0 1px var(--border-color);
  text-shadow: 0 1px rgba(0, 0, 0, .2),
               0 1px 1px rgba(0, 0, 0, .26);
  padding: var(--card-radius);
  text-align: center;
}

.file-button {
  background-color: var(--accent);
  color: #ffffff;
  margin: var(--card-padding);
  margin-top: 0;
}

#me, #links {
  display: flex;
}

#me #column1 {
  flex: 50%;
  margin-top: 60px;
}

#skillColumn, #langColumn {
  margin-top: 72px;
  flex: 25%;
}

#me p {
  font-size: 16px;
  line-height: 24px;
}

#me #name {
  color: var(--strong-fg);
  font-size: 32px;
}

#me #title {
  color: var(--base-fg);
  margin-top: 4px;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 28px;
}

#me h3 {
  color: var(--strong-fg);
  font-size: 20px;
}

#me ul {
  margin: 4px;
  margin-bottom: 20px;
}

#me li {
  margin-left: 20px;
  font-size: 16px;
  line-height: 24px;
}

#links {
  margin-bottom: var(--card-margin);
}
#links a:first-child{margin-left:0;}#links a:last-child{margin-right:0;}
#links a {
  flex: 25%;
  margin: 10px;
}

.github {
  background-color: #333;
  color: #fafafa;
}

.twitter {
  background-color: #1da1f2;
  color: #f5f8fa;
}

.instagram {
  background: radial-gradient(ellipse farthest-corner at 0% 90%, #fec564, transparent 50%),
              radial-gradient(ellipse farthest-corner at 0 -25%, #933ab4, transparent 50%),
              radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
              radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
              linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  color: #fafafa;
  text-shadow: none;
}

.okuna {
  background-color: #dcddde;
  color: #252525;
  text-shadow: none;
}

@media screen and (prefers-color-scheme: light) {

  :root {
    --base-bg: #f0f4f6;
    --base-fg: #434445;
    --accent: #12bef2;
    --border-color: rgba(0, 0, 0, .1);
    --strong-fg: #000000;
  }

  .card {
    background-color: rgba(255, 255, 255, .4);
    box-shadow: inset 0 1px rgba(255, 255, 255, .7),
                inset 0 0 0 1px rgba(255, 255, 255, .7),
                0 0 0 1px var(--border-color);
  }

  .okuna {
    background-color: #ecedee;
  }

  .file-button, #links a {
    box-shadow: inset 0 1px rgba(255, 255, 255, .3),
                inset 0 0 0 1px rgba(255, 255, 255, .28),
                0 0 0 1px rgba(0, 0, 0, .3);
  }
}
